# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
macOS/

# Python caching
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Datasets and arrays
data/
*.npy
*.csv

# Model Weights
*.pth
*.pt
*.ckpt

# IDEs
.vscode/
.idea/